<div ng-controller="homeController" class="container-fluid display-table">
	<div class="">

	<!-- Search  -->
    <nav class="navbar navbar-fixed-top" role="navigation">
		<div class="container">
			<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

				<form class="navbar-form" role="search">
					<div class="input-group">
						<input type="text" class="form-control" placeholder="Search" ng-model="searchText">
					</div>
				</form>
			</div>
		</div>
	</nav>

	<div class="" style="padding: 10px">

		<div class="upper_col_title">
			<h2> Achados </h2>
		</div>
		<div class="upper_col_title">
			<h2> Perdidos </h2>
		</div>

		<!-- column 1 -->
		<div class="column-cards">
	    <div class="portlet" ng-repeat="item in items | filter:searchText | filter:{status: 'found'}">
	        <div class="portlet-header"><h4><strong>{{item.title}}</strong></h4></div>
	        <div class="portlet-content">
						<div class="item-photo" style="align-center">
								<img ng-src="image/{{item.id}}" alt="Foto"/>
						</div>
						<div class="panel-body">
							{{item.category}}
							<br>
							{{item.description}}
						</div>
					</div>
	    </div>
		</div>
		<!-- column 2 -->
		<div class="column-cards">
	    <div class="portlet" ng-repeat="item in items | filter:searchText | filter:{status: 'lost'}">
	        <div class="portlet-header"><h4><strong>{{item.title}}</strong></h4></div>
	        <div class="portlet-content">
						<div class="item-photo" style="align-center">
								<img ng-src="image/{{item.id}}" alt="Foto"/>
						</div>
						<div class="panel-body">
							{{item.category}}
							<br>
							{{item.description}}
						</div>
					</div>
	    </div>
		</div>
	</div>

		<!--Botao de adicionar Item-->
		<div class="", id="add-button">
			<button role="Tasddsa" class="btn btn-primary" id="btn-add" data-toggle="modal" data-target="#new-item">
			  <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
			</button>

			<!--Modal de adicionar Item-->
			<div class="modal fade" id="new-item" tabindex="-1" role="dialog" >
			  <div class="modal-dialog" role="document">
			    <div class="modal-content">
			      <div class="modal-header">
			        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
			        <h4>Novo Item</h4>
			      </div>
			      <div class="modal-body">
			        <form name="addItemForm" action="/item" method=post enctype=multipart/form-data>
			          <div class="form-group">
			            <label class="radio-inline">
			              <input type="radio" name="inlineRadioOptions" ng-model="foundLostObj" id="inlineRadio1" value="found" checked> Achado
			            </label>
			            <label class="radio-inline">
			              <input type="radio" name="inlineRadioOptions" ng-model="foundLostObj" id="inlineRadio2" value="lost"> Perdido
			            </label>
			            <br><br>
			            <input type="text" class="form-control" placeholder="Título" maxlength="50" name="name" minlenght="1" required>
			            <br>
			            <textarea class="form-control" rows="3" placeholder="Descrição" name="text" maxlength="200"></textarea>
									<br>
									<label>Categoria</label>
									<select class="form-control" required name="category">
											<option value = 'Outro' selected class="text-hide">Outro</option>
											<option value = 'Roupa' >Roupa</option>
											<option value = 'Estojo' >Estojo</option>
										</select>
									<br>
									<label>Foto (JPEG, JPG, PNG) </label>
								    <div ng-show="addItemForm.$submitted || addItemForm.file.$touched">
  										<div class="upload-warning">
  											Adicione uma foto do objeto {{ foundLostObj == 'found' ? 'achado': 'perdido' }} 
  										</div>
									</div>
									<input type="file" name="file" ng-model="filePathName" required=''>
									<div class="pull-right">
										<button type="button" class="btn btn-default" data-dismiss="modal">Sair </button>
										<button type="submit" class="btn btn-primary">Cadastrar</button>
									</div>
									<br>
			          </div>
			        </form>
			      </div>
			    </div>
			  </div>
			</div>
		</div>
	</div>
</div>
