html, body {
	margin: 0;
	padding: 0;
	height: 100%;
}

#wrapper {
	position: relative;
	min-height: 100%;
}

.ng-isolate-scope {
	background-color: #2f4050;
	position: fixed;
	height: 100%;
	bottom: 0;
}

#side-menu {
	width: 15%;
	min-width: 180px;
}

.upload-warning {
	padding-bottom: 10px;
	font-style: italic;
	color: red;
}

#side-menu{
	padding: 0px;
}

#side-menu h1{
	text-align: center;
	font-size: 25px;
	padding: 50px 0;
}

#side-menu ul {
	list-style: none;
	margin: 0px;
	padding: 0px;
}

#side-menu a{
	padding: 12px 30px;
	text-decoration: none;
	color: #9fb1c2;
	font-weight: bold;
	font-size: 13px;
	display: block;
}

#side-menu li:hover{
	background-color: #293846;
	color: #fff;
	border-left: 4px solid #1ab394;
}

#side-menu .active li {
	background-color: #293846;
	color: #fff;
	display: block;
}

.display-table{
	display: table;
	padding: 0px;
	margin: 0px;
	height: 100%;
}

#side-menu h1 {
	color: white;
	margin: 0;
}

#main-content {
	float: right;
	width: 100%;
}
.row {
	display: flex !important;
	min-height: 50px !important;
	padding-top: 50px;
}

#main-content .row .navbar {
	border-radius: 0;
}

.navbar-form {
	border: 1px solid transparent;
	width: 338px;
	position: relative;
	margin: 0 auto;
	padding: 15px 0px 5px 0px;
}
.upper_col_title {
	color: #777777;
	/* border: 1px solid violet; */
	width: 250px;
	margin-left: 10px;
	float: left;
}
#content{
	margin: 20px 0 50px 0;
/*	background-color: #fff;
	border-top: 4px #e7eaec solid;
	border-bottom: 4px #e7eaec solid;*/
}

.content-inner, #content header {
	margin: 10px 50px;
	padding: 20px;
}

.name-section {
	float: right;
	position: absolute;
	left: 0px;
	padding: 10px 35px;
	font-size: 16pt;
	font-weight: 100;
}

.navbar-nav {
    float: right !important;
    margin-right: 100px;
}

.navbar {
	border-radius: 0;
}

.navbar-inverse {
	background-image: none !important;
    background-color: white !important;
    border-color: transparent;
}

.navbar-inverse .navbar-nav > li > a:hover, .navbar-inverse .navbar-nav > li > a:focus {
    color: #222;
    background-color: transparent;
}

footer {
	padding-top: 60px;
	margin-left: 20px;
	font-size: 10px;
	position: fixed;
	bottom: 0;
}

#btn-add{
  position: fixed;
  z-index: 2;
  right: 3%;
  bottom: 5%;
  height: 50px  !important;
  border-radius: 50px  !important;
  width: 50px !important;
}

body, html{
	height: 100%;
 	background-repeat: no-repeat;
 	background-color: #f3f3f4;
 	font-family: 'Oxygen', sans-serif;
 	height: 100%;
}
.main{
 	margin-top: 70px;
}

/* ---- cards  ---- */
#sortable {
	list-style-type: none;
	margin: 0;
	padding: 0;
	width: 450px;
	cursor: pointer;
}

#sortable .ui-state-default {
	margin: 3px 3px 3px 0;
	padding: 1px;
	float: left;
	width: 100px;
	height: 90px;
	font-size: 4em;
	text-align: center;
}

.tilt.right {
    transform: rotate(3deg);
    -moz-transform: rotate(3deg);
    -webkit-transform: rotate(3deg);
}
.tilt.left {
    transform: rotate(-3deg);
    -moz-transform: rotate(-3deg);
    -webkit-transform: rotate(-3deg);
}

.column-cards {
	width: 300px;
	float: left;
	padding-bottom: 50px;
	background-color: #ddd;
	margin-left: 10px;
	border-radius: 5px;
}
.portlet {
	margin: 0.8em;
	margin-bottom: 50px;
	background: #fefefe;
	box-shadow: 1px 3px 1px #999;
	border-radius: 2px;
}

.portlet:hover {
	cursor: pointer;
	box-shadow: 1px 3px 1px #777;
}

.portlet-header {
    padding: 0.1em 1.0em;
    position: relative;
}
.portlet-toggle {
    position: absolute;
    top: 50%;
    right: 0;
    margin-top: -8px;
}
.portlet-content {
	padding-bottom: 0.4em;
    font-size: 12pt;
}
.portlet-placeholder {
    border: 1px dotted black;
    margin: 0 1em 1em 0;
    height: 50px;
}

.portlet-content span {
    font-size: 9pt;
}
s
.portlet-content .panel-body {
	padding: 25px 10px 10px 15px !important;
}

.portlet-content .item-photo {
	width: 100%;
	height: 120px;
	background-color: #ddd;
	overflow: hidden;
}

.portlet-content .item-photo img {
	width: 100%;
}

.ui-corner-all {
	border-radius: 0 !important;
}

.ui-widget-header {
	border: 1px solid white !important;
	background-color: #ffffff !important;
}

/* ----  cards ---- */

hr {
	width: 10%;
	color: #fff;
}

.form-group{
	margin-bottom: 15px;
}

.main-center{
 	margin-top: 30px;
 	margin: 0 auto;
 	max-width: 330px;
    padding: 10px 40px;

}
.main-login{
 	background-color: #fff;
    /* shadows and rounded borders */
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);

}

h1.panel-title {
    font-size: 30px;
    font-family: 'Open Sans Condensed', sans-serif;
}

.btn-circle {
	width: 30px;
  	height: 30px;
  	text-align: center;
  	padding: 6px 0;
  	font-size: 12px;
  	line-height: 1.428571429;
  	border-radius: 15px;
}
.btn-circle.btn-lg {
  width: 50px;
  height: 50px;
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.33;
  border-radius: 25px;
}
.btn-circle.btn-xl {
  width: 70px;
  height: 70px;
  padding: 10px 16px;
  font-size: 24px;
  line-height: 1.33;
  border-radius: 35px;
}

.nav > li > a:hover{
	color: white;
    background-color: #3498db;
}

.display-table {
	padding-top: 75px;
	margin: 0 auto;
	height: 100%;
	width: 800px;
}

.display-table-row{
	display: table-row;
	height: 100%;
}

.display-table-cell{
	display: table-cell;
	float: none;
	vertical-align: top;
	height: 100%;
}

.navbar {
	margin-bottom: 0;
}

.search-area {
	border: none;
}

.glyphicon-log-out {
	font-size: 20px;
	vertical-align: center;
}

.glyphicon-plus:hover {
	cursor: pointer;
}

.container {
    width: 100%;
    margin: 0 !important;
    padding: 0 !important;
}

.alert {
	width: 600px;
}
